<tr>
  <td class="table-details-header" colspan="2"> Available ranges</td>
</tr>
<% if(locals.containingRanges === undefined) {%> <%locals.containingRanges = []} %>
<% ranges.forEach(range=>{ %>

<% if(locals.containingRanges.indexOf(range.id) != -1 ){ %>
<td>
  <input type="checkbox" id="<%= range.name %>" name="ranges" value="<%= range.id %>" checked>
</td>
<td> <label for="<%= range.name %>"> <%= range.name %></label>
</td>
<% }else{ %>
<td>
  <input type="checkbox" id="<%= range.name %>" name="ranges" value="<%= range.id %>">
</td>
<td> <label for="<%= range.name %>"> <%= range.name %></label>
</td>
<%} %>

</tr>
<% })%>