<div class="chat-container" id="<%= chatWindow %>">
  <div class="chat-row">
    <div class="chat-window chat-inner">
      <%#- include("partials/msg-database") %>
      <div class="message-div">
        <div class="message-container">
          <div class="time">06:24:08</div>
          <div class="username">Kupa162:</div>
          <div class="message">test sadsadsadsadsa sa sad sad sasa dsa</div>
        </div>
      </div>
      <div class="message-div">
        <div class="message-container">
          <div class="time">06:24:08</div>
          <div class="username">Kupa162:</div>
          <div class="message">test sadsadsadsadsa sa sad sad sasa dsa</div>
        </div>
      </div>
      <div class="message-div">
        <div class="message-container">
          <div class="time">06:24:08</div>
          <div class="username">Kupa162:</div>
          <div class="message">
            sadsadsadsadsasadsadsadsadsasadsadsadsadsasadsadsadsadsasadsadsadsadsasadsadsadsadsa
            sa sad sad sasa dsa
          </div>
        </div>
      </div>
      <div class="message-div">
        <div class="message-container">
          <div class="time">06:24:08</div>
          <div class="username">Kupa162:</div>
          <div class="message">
            sadsadsadsadsasadsadsadsadsasadsadsadsadsasadsadsadsadsasadsadsadsadsasadsadsadsadsa
            sa sad sad sasa dsa
          </div>
        </div>
      </div>
      <div class="message-div">
        <div class="message-container">
          <div class="time">06:24:08</div>
          <div class="username">Kupa162:</div>
          <div class="message">test sadsadsadsadsa sa sad sad sasa dsa</div>
        </div>
      </div>
    </div>

    <div class="user-list-window chat-inner">
      <!-- <button class="testKappa">TEST</button> -->
      <h5 class="user-list-header">USERS <br /><%= chatWindow %></h5>
      <span class="user-list"></span>
    </div>
  </div>
  <div class="chat-info"></div>
  <div class="chat-buttons">
    <button id="join-<%= chatWindow %>" class="btn-chat-primary">
      JOIN <%= chatWindow %>
    </button>
    <button disabled id="leave-<%= chatWindow %>" class="btn-chat-primary">
      LEAVE <%= chatWindow %>
    </button>
  </div>
  <form action="" class="chat-form" id="chat-form">
    <textarea
      name="message"
      class="message-window"
      placeholder="Type message to send"
    ></textarea>
    <button class="btn-primary" type="submit">Send</button>
  </form>
</div>
