<div class="chat-container" id="<%= chatWindow %>">
  <div class="chat-window" id="chat-window">
    <%#- include("partials/msg-database") here queries about rooms %>
  </div>

  <div class="user-list-window">
    <button class="testKappa">TEST</button>
    <h5 class="user-list-header">USERS <%= chatWindow %></h5>
    <span class="user-list"></span>
  </div>
  <div class="chat-info"></div>
  <div class="chat-buttons">
    <button id="join-<%= chatWindow %>" class="btn-chat-primary">
      JOIN <%= chatWindow %>
    </button>
    <button disabled id="leave-<%= chatWindow %>" class="btn-chat-primary">
      LEAVE <%= chatWindow %>
    </button>
  </div>
  <form action="" class="chat-form" id="chat-form">
    <textarea
      name="message"
      class="message-window"
      placeholder="Type message to send"
    ></textarea>
    <button class="btn-primary" type="submit">Send</button>
  </form>
</div>
