<div>
  <div class="chat-container" id="<%= roomName %>">
    <div class="chat-row">
      <div class="chat-window chat-inner">
        <% messages.forEach(message =>{ %>
        <div class="message-div">
          <div class="message-container">
            <div class="time">
              (<%= message.sentTime.toISOString().split("T")[0] %>) <%=
              message.sentTime.toISOString().split("T")[1].split(".")[0] %>
            </div>
            <div class="username"><%= message.sender.username %>:</div>
            <div class="message"><%= message.message%></div>
          </div>
        </div>
        <%})%>
      </div>
      
      <div class="user-list-window chat-inner">
        <h5 class="user-list-header">USERS</h5>
        <span class="user-list"></span>
      </div>
    </div>
    <div class="chat-info"></div>
    <div class="chat-buttons">
      <button id="join-<%= chatName %>" class="btn-chat-primary">
        JOIN <%= chatName %>
      </button>
      <button disabled id="leave-<%= chatName %>" class="btn-chat-primary">
        LEAVE <%= chatName %>
      </button>
    </div>
    <form action="" class="chat-form" id="chat-form">
      <textarea name="message" class="message-textarea" placeholder="Type message to send"></textarea>
      <button class="btn-primary" type="submit">Send</button>
    </form>
  </div>
</div>