<%-include("../partials/create-btn", {href: "ranges/create", btnName:"Create Range"});%>
<table class="table-details">
  <tr>
    <td>Ranges</td>
    <td>Created at</td>
    <td>Created by</td>
  </tr>
  <%ranges.forEach(range =>{ %>
  <tr>
    <td><%= range.name %></td>
    <td><%= range.createdAt.toISOString().split("T")[0] %></td>
    <td><%= range.createdBy %></td>
    <td>
      <a href="ranges/edit/<%= range.id %>"><button class="btn-form-small">Edit</button></a>
    </td>
  </tr>

  <% }) %>
</table>