<tr>
  <td class="table-details-header" colspan="2">Ban/Allow users</td>
</tr>
<td> Ban user (separate with ,)</td>
<td>
  <select name="bannedUsers" id="banUser" multiple>
    <% users.forEach(user => { %>
    <option value="<%= user.id %>"> <%= user.username %></option>
    <%=  user.username %>
    <% }) %>
  </select>
</td>

</tr>
<tr>
  
  <td> Allow user (separate with ,)</td>
  <td>
    <select name="allowedUsers" id="banUser" multiple>
      <% users.forEach(user => { %>
      <option value="<%= user.id %>"> <%= user.username %></option>
      <%=  user.username %>
      <% }) %>
    </select>
  </td>
</tr>