<form action="" method="POST">
  <table class="table-details">
    <tr>
      <td>User</td>
      <td><input type="text" name="name" value="<%= user.username %>" /></td>
    </tr>
    <tr>
      <td>Ranges</td>
      <td><%= user.ranges.join(" | ") %></td>
    </tr>

    <% ranges.forEach(range=>{ %>
    <tr>
      <% if(user.ranges.indexOf(range.name) != -1){ %>
      <td>
        <input type="checkbox" id="<%= range.name %>" name="ranges" value="<%= range.name %>" checked>
        <label for="<%= range.name %>"> <%= range.name %></label>
      </td>
      <% }else{ %>
      <td>
        <input type="checkbox" id="<%= range.name %>" name="ranges" value="<%= range.name %>">
        <label for="<%= range.name %>"> <%= range.name %></label>
      </td>
      <%} %>
    </tr>
    <% })%>

  </table>
  <button class="btn-form-primary" type="submit">ADD RANGE</button>
</form>
<form action="?_method=DELETE" method="POST">
  <button class="btn-form-primary" type="submit">Delete</button>
</form>